---
---

@import "{{ site.theme }}";
html, body {
  height:100%;
  width:100%;
}
#myChart {
  /*height:100%;
  width:100%;*/
  min-height:250px;
}
.zc-ref {
  display:none;
}
.wrapper {
  background: rgb(41, 41, 41);
  background: rgba(41, 41, 41, .5);
}
body {
  background-image: url("https://i.imgur.com/M4TjOBA.jpg");
}

.ship  {
  padding-bottom: 40px;
}
.ship > img {
  display: block;
  max-height: 270px;
  max-width: 90%;
  margin: 0 auto;
}
#xwing_chart, #eta2_chart, #tie_chart, #n1_chart, #vulture_chart {
  min-height: 360px;
  max-width: 520px;
  margin: 0 auto;
  opacity: 0.6;
}
