---
---

@import "{{ site.theme }}";
html, body {
  height:100%;
  width:100%;
}
#myChart {
  /*height:100%;
  width:100%;*/
  min-height:250px;
}
.zc-ref {
  display:none;
}
.wrapper {
  background: rgb(41, 41, 41);
  background: rgba(41, 41, 41, .5);
}
body {
  background-image: url("http://i.imgur.com/M4TjOBA.jpg");
}

